{$DOMAIN} {
	encode gzip

	handle /api/* {
		reverse_proxy server:8000
	}

	handle {
		reverse_proxy dashboard:80
	}

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}
